body {
    padding-bottom: 44px;
}

.breadcrumb {
    &-area {
        @include layout-space-top;
        margin-bottom: .5em;
    }

    &-item {
        list-style: none;
        display: inline-block;
        padding-right: 0.3rem;
        font-size: 12px;

        &::after {
            content: ">";
            padding-left: 0.3rem;
            color: #999;
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }

    &-link {
        color: $color-black;

        &:hover {
            color: rgba($color-black, 0.6);
        }
    }
}

.cta {
    &__column {
        background-color: $color-main;
        color: #fff;

        &--contact {
            padding: 3rem 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__title {
        @include font-m;
        font-weight: normal;
        margin-bottom: $mb-title;
    }

    &__tel {
        font-size: 32px;
        font-weight: bold;

        @include mq(tablet) {
            font-size: 36px;
        }

        @include mq(pc) {
            font-size: 44px;
        }
    }

    &__image {
        &--tel {
            display: inline-block;
            margin-right: 0.2em;
            vertical-align: baseline;
        }
    }

    &__d-list {
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
    }

    &__team {
        width: 5em;
        position: relative;

        &::after {
            content: '：';
            position: absolute;
            top: 0;
            left: auto;
            right: 0;
        }
    }

    &__description {
        width: calc(100% - 5em);
    }

    &-button {
        margin-top: 2rem;
    }
}

.cta-map {
    height: 300px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.footer {
    padding: 3rem 0 2rem;
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__column {
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__title {
        font-size: 16px;
        margin-bottom: $mb-title;
    }

    &__text {
        margin-bottom: 1em;

        &--tel,
        &--fax {
            display: block;
        }
    }
}

.footer-navi {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    &__list {
        white-space: nowrap;
        list-style: none;
        &:first-of-type {
            margin-right:  1rem;
        }
    }

    &__item {
        margin-bottom: .5em;
    }

    &__link {
        color: $color-black;
        text-decoration: none;
    }
}

.copyright {
    margin: 1rem;
    text-align: center;
    font-size: 14px;
}

.footer-mobile-button {
    position: fixed;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 44px;
    background-color: #fff;

    a[href*="tel:"] {
        color: #fff;
    }

    &__list {
        list-style: none;
        display: flex;
    }

    &__item {
        font-weight: bold;
        width: 50%;
        height: 44px;
    }

    &__image {
        display: inline-block;
        margin-right: .3em;
        vertical-align: baseline;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-decoration: none;
        height: 100%;

        &--tel {
            background-color: $color-main;

            &:hover {
                background-color: rgba($color-main, 0.9);
            }
        }

        &--mail {
            background-color:#03bc3f;

            &:hover {
                background-color: rgba(3,188,63, 0.9);
            }
        }

        &:hover {
            color: #fff;
        }
    }
}

@media screen and (min-width:480px) {
    body {
        padding-bottom: 0;
    }
    .cta {
        &__d-list {
            width: 22rem;
        }
        &-button {
            min-width: 360px;
        }
    }
    .footer-navi {
        &__list {
            &:first-of-type {
                margin-right: 2rem;
            }
        }
    }
    .footer-mobile-button {
        display: none;
    }
}

@media screen and (min-width:800px) {
    .cta {
        display: flex;
        flex-direction: row-reverse;

        &__column {
            width: 50%;

            &--contact {
                padding: 5rem 1rem;
            }
        }

        &__d-list {
            width: 23rem;
        }

        &__description {
            width: 18rem;
        }
    }

    .cta-map {
        height: 100%;
    }

    .footer {
        padding: 5rem 1rem 2rem;

        &--tel,
        &--fax {
            display: inline;
        }
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        justify-content: space-between;

        &__column {
            margin-bottom: 0;
        }
    }
}

@media screen and (min-width: 1184px) {
    .cta {
        &__d-list {
            width: 27rem;
        }

        &__description {
            width: 22rem;
        }
    }
}

@media print{
    .sns__link--instagram {
        -webkit-text-fill-color: inherit;
    }

}
